spring:
  datasource:
    url: jdbc:mysql://localhost:3306/redas?serverTimezone=Asia/Shanghai&useUnicode=yes&characterEncoding=UTF-8
    username: root
    password: geek
  jpa:
    show-sql: true

redas:
  mq:
    host: 192.168.2.2:9092
    group: test
    topic: test
